<!DOCTYPE html>
{% extends "website/base.html" %}
{% load static  %}
{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>


<section class="container">

  <div class="card">
    <div class="card-image car-8"></div>
    <h2><b>Adaptive AI Learning Hub</b></h2>
    <a href="">Read More</a>
  </div>

  <div class="card">
    <div class="card-image car-9"></div>
    <h2><b>Learning Chatbots</b></h2>
    <a href="">Read More</a>

  </div>

  <div class="card">
    <div class="card-image car-10"></div>
    <h2><b>Administrative Chatbots</b></h2>
    <a href="">Read More</a>

  </div>
</section>



{% endblock %}
