<!DOCTYPE html>
{% extends "website/base.html" %}
{% load static %}
{% block body_block %}



<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
<link rel="stylesheet"  href="{% static 'css/style.css' %}">


  <main>
  <div class="div1"> <h3 style="color:#8FF3B1"> Control the cloud. Control the business.</h3>

  <p>
  Keep away your worries about technology integration, thus helping you convert
  corporate agendas into tangible results with good initiatives, well -defined
  roadmap and measurable projects. Whether it’s a large -scale
  physical to virtual cloud migration or a non-standard
  project that could use some outside know-how, there’s
  always a new test for your technology and business to
  overcome, which is where our cloud consulting services can help.
  We've remained at the forefront of this cloud evolution, guiding our clients
  through adoption of virtualization and converged infrastructure solutions
  toward the software -defined infrastructure model and all the benefits that
  come with.
  </p>

  </div>


  <div class="div2">
      <img src="media/cloud.jpg" alt="cloud" style="width:40%">

  </div>

   <div class="div7">

   <h2>Cloud Consulting</h2>

   <h3 style="color:#8FF3B1">CLOUD GOVERNANCE</h3>

  <p>Extending IT Governnace principles in cloud is the key
  to ensure seamless operations post transition to a cloud
  based ecosystem. We can help organizations define
  right set of cloud governance processes, policies,
  control and structures which work as guardrails to
  ensure visibility transparency and management of all
  cloud aspects.
  Defining a Cloud Centre of Excellence is an integral part
  of Cloud Governance charter which acts as a central
  function for an organization, overseeing and guiding the
  organization to improve outcomes and manage risks.</p>
  </div>

  <div class="div3"> <h3 style="color:#8FF3B1">CLOUD STRATEGY</h3>

  <p>Define cloud strategy in line with your organization’s business
  and IT imperatives. If an high level strategy exists, we can
  help refine it per cloud suitability assessment to identify cloud
  amenability for cloud fit applications and treatment thereof to
  enable senior management to make informed decisions for
  transition to cloud.</p>
 </div>
  <div class="div4"> <h3 style="color:#8FF3B1">CLOUD READINESS</h3>

  We can help assess IT portfolio to identify cloud suitable
  applications and define treatment options required
  before migrating to cloud by studying applications,
  infrastructure, network and other components
 </div>

  <div class="div5"> <h2 style="color:#8FF3B1">ROMBITS HELPS YOU OWN THE CLOUD</h2>

  <h5 style="color:#8FF3B1">CLOUD ECONOMICS</h5>

  <p>Defining a right business case either for the complete
  portfolio or subset of applications is key to aligning cloud
  initiatives to business objectives. A detailed business
  case helps organizations understand the intent for
  moving to cloud, outcomes expected and understanding
  the current costs. A subset of cloud
  Economics is TCO analysis which gives an
  analysis comparison between on premise vs
  cloud costs.
  We can also help you in defining right cloud
  cost optimization strategy to ensure there are
  no overruns, under utilization of resources,
  shadow proliferation and wastage in cloud
  through rightsizing, consolidation and
  chargeback mechanisms.</p>
 </div>

  <div class="div6"><h3 style="color:#8FF3B1">SKILL GAP ANALYSIS</h3>

  <p>An enterprise cloud adoption is a significant change that
  impacts organizational structure, culture, skills and
  capabilities. We can help conduct a skill Gap analysis and
  recommend path of reskilling/ cross-Skilling of existing IT
  team, plan for transitioning old rules to newly defined roles,
  define responsibilities and an overall appropriate
  IT organization structure.</p>
</div>
  <!-- <div class="div7">footer</div> -->
</main>







{% endblock %}
